{% extends "layout.html" %}

{% block content %}
    <html>
	<body>
		<form method="POST" action="/hackhaton/confirmation">
			<div id="form">
				<table>
						<tr><td><label for="nom">Nom de l'étudiant:</label></td>
						<td><input type="text" name="nom" id="nom"></td></tr>
						<tr><td><label for="prenom">Prenom de l'étudiant:</label></td>
						<td><input type="text" name="prenom" id="prenom"></td></tr>
						<tr><td><label for="mail">Mail:</label></td>
						<td><input type="text" name="mail" id="mail"></td></tr>
						<tr><td><label for="projet">Nom de projet:</label></td>
						<td><input type="text" name="projet" id="projet"></td></tr>
						<tr><td><label for="description">Description du projet:</label></td>
						<td><input type="text" name="description" id="description"></td></tr>
				</table>
				<br><br>
			</div>
			<div id="subForm">
				<!-- potential subform with btn add user -->
			</div>
			<input type="submit" />
				</form>
			<button id="btn" >Ajouter un Etudiant</button>
		<script type="text/javascript" src="./formulaire.js"></script>
	</body>
</html>
{% endblock %}

